body { margin: 0; padding: 0; }

#carousel { margin: 0 auto; height: 400px; width: 600px; overflow: hidden; border: solid grey 10px; }

ul { margin: 0; padding: 0; width: 3000px; }

ul li { list-style-type: none; float: left; }

ul img { height: 400px; width: 600px; }

.buttons { display: -ms-flexbox; display: flex; -ms-flex-pack: justify; justify-content: space-between; position: absolute; width: 600px; height: 400px; top: 10px; margin-left: auto; margin-right: auto; left: 0; right: 0; }

.buttons a { display: -ms-flexbox; display: flex; -ms-flex-align: center; align-items: center; -ms-flex-item-align: center; align-self: center; height: 5%; font-size: 30px; color: #ccc; cursor: pointer; padding: 10px; }
